body{
    background:#fdf6ec;
    font-family:Verdana ;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0;
    height:100hv;
    
}
.container{
    background: #ffffff;
    padding:40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0,);
    max-width: 400px;
    width:100%;
}
h1#timer{
    font-size:4rem;
    font-weight:bold;
    color:#343a40;
    margin:20px 0;
}
h2#sessiontitle{
    font-size:2rem;
    color:#007bff;
    align-content: center;
}
btn-group{
    min-width: 100px;
    margin:0 5px;
    font-weight:bold;
}
btn-success{
    background-color: #28a745;
    border:none;
}
btn-warning{
    background-color: #ffc107;
    border: none;
    color:#000;
}
btn-danger{
    background-color:#dc3545;
}